[2019-07-30 20:28] rbavery opened #1 "Geospatial Python Curriculum"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Geospatial

[2019-08-02 08:52] dvalters commented on #1
Thanks, @ErinBecker - would you be able to set me up with write access.

[2019-08-21 23:51] DamienIrving commented on #1
@rbavery - With respect to your question, *something to decide is whether we mix teaching the Pangeo model that caters to the climate and meteorology disciplines and formats (NetCDF) or to the folks that come from using ESRI/ENVI and are more used to working with geotiffs and shapefiles,* I agree with @dvalters that there isn't much overlap between those people working with raster or “gridded” dat

[2019-08-22 00:00] DamienIrving commented on #1
Also, a relevant library that hasn't been mentioned in the discussion yet is [geoviews](http://geoviews.org/index.html).

[2019-08-22 00:24] rbavery commented on #1
@DamienIrving Thanks for the suggestions! There's some overlap with remote sensing folks that work with both vectors and multispectral imagery (RGB+ sensors) and climate/meteorology that works with gridded NEtCDF formats. I'm still getting familiar with where there is overlap between the NetDCF and Geotiff+Vector users out there, but I see many common workflows, such as reducing time series, movin

[2019-09-23 04:47] dvanic commented on #1
Just putting my hand up here - I'd love to contribute to the materials as well.  I'll admit that I tend to use mostly R for geospatial data processing, and have taught the DC Geospatial curriculum several times. However, I'm comfortable using python as well, and happy to run through materials, add clarifying/needed comments/questions/debug/etc - so please ping me when there's a rough draft of some

[2019-09-24 06:22] rbavery commented on #1
Thanks @dvanic will do. Now that I've got a bit of a handle on making PRs to lessons I'll try to scaffold out a draft/outline this week modeled after the DC R lesson.

[2019-09-25 06:16] rbavery commented on #1
Hi @ErinBecker when you get a chance I've opened a pull request but it looks like I'm unable to merge it and don't have write access.

[2019-09-25 08:45] fmichonneau commented on #1
Hi @rbavery you should now have write access. Thanks!

[2019-09-25 12:17] jsta commented on #1
:+1: to this effort. One comment I'd make is that a couple of (what I consider low-level) libraries have been mentioned (fiona and shapely). My personal experience is that I haven't found these to be very useful beyond what the low-level `gdal` library can do for fine-grained control. If this effort is sticking to libraries with a large user-base maybe it makes sense to stick with `gdal` for these

[2019-09-25 12:19] jsta commented on #1
Also might want to take a look at the existing lessons at https://github.com/annefou/metos_python @annefou

[2019-09-25 19:17] rbavery commented on #1
@jsta Thanks a bunch for linking this and @annefou for working on this! At present, I think there are even higher level libraries than `gdal` that simplify some of the code for plotting and munging geospatial data. In particular, `rasterio` for reading, projecting, and featurizing rasters and `earthpy` for visualizing. With these lessons you linked, I'm particularly interested to see how `earthpy`

[2019-09-26 02:11] djhoese commented on #1
Hi everyone! I'm glad this is getting discussed. I agree with most of what's been said that geopandas and rasterio are probably good things to start with; especially since rasterio has hit v1.0+. I did want to mention that I'm a core developer on the [Satpy library](https://satpy.readthedocs.io/en/latest/) which provides a very high level interface to working with meteorological satellite data (mo

[2019-09-26 18:39] rbavery commented on #1
Hi @djhoese thanks for the info and working on Satpy, looks really useful! I'm interested to track the development towards 1.0. Is there a general method in Satpy for reading and writing geotiffs and preserving CRS and other metadata? It'd be great to be able to use Satpy in this way so that we could work with xarray DataArrays and Datasets throughout the workshop.

I also appreciate the tip on fo

[2019-09-26 19:16] djhoese commented on #1
We have interfaces/satpy-standard ways of preserving CRS information but applying it to other libraries and tools has not really been standardized yet. In Satpy we are also changing how we do it (slowly) to be use the features provided by xarray more. The `geoxarray` projection I started (repos [here](https://github.com/geoxarray/geoxarray)) is meant to standardize this CRS/grid logic for xarray,

[2019-09-26 20:04] ErinBecker commented on #1
Thanks @fmichonneau for fixing this!

[2019-09-26 21:28] rbavery commented on #1
Got it, thanks @djhoese . I've looked over some of the issues across `geoxarray` and `xarray`, particularly this: https://github.com/geoxarray/geoxarray/issues/6. I'm looking forward to the dust settling! In this case we will probably need to decide whether we should make space in the episodes for covering how to convert numpy arrays (that we read in with rasterio) to xarray DataArrays and how to

[2019-09-27 02:01] djhoese commented on #1
I think if xarray and rasterio are used at all, xarray's [`open_rasterio`](http://xarray.pydata.org/en/stable/generated/xarray.open_rasterio.html) should be used.

[2019-09-27 07:19] annefou commented on #1
I am really excited about this lesson development and I am really looking forward to contributing!

[2019-09-29 06:04] rbavery opened #3 "Geospatial Installation Instructions Page"
Installing geospatial python packages has always proven to be more difficult for me than the rest, so clear guidelines on how to install all the required packages are needed, (similar to the R geospatial lesson).

I've tried this by using pip with the hope it would work out, but not so:

[code]

This is a common issue across libraries like geopandas and rasterio and the recommended suggestion is u

[2019-10-07 20:54] ErinBecker opened #5 "Including this lesson on the new community lessons page"
@fmichonneau has [updated the lesson template](https://github.com/carpentries/carpentries-theme/pull/1) to enable support of Incubator lessons!

This update:
- Creates a top-of-page banner to indicate that this lesson is in the incubator (and not an official Carpentries lesson). This banner is in addition to the existing "lesson life cycle" banner that appears on some official Carpentries lessons

[2019-10-15 03:17] dvanic commented on #3
Hi Ryan,
Sorry it's taken me so long to get to this!

1. Why are you suggesting using the base environment for the lesson at all???
2. Why not create a virtual environment using conda straight off the bat?

[2019-10-15 04:01] dvanic opened #6 "Jupyter notebook or command line?"
Should we be using the Jupyter notebook for this lesson? If yes, should we refer to it at the start?

I know the R lesson doesn't directly reference RStudio, but that's probably because nearly everyone nearly always is using RStudio at the moment anyway, so perhaps that's why it isn't explicitly mentioned.

(This is more of a discussion post than a true issue)

[2019-10-15 17:34] rbavery commented on #3
Hey @dvanic thanks for the review and comment! I'll get to your other comments on the PR this week.

I don't think it is standard for lessons to use conda environments, but I think that's a good idea in this case. I'm all for using conda environments, especially for geospatial dependencies. I think we can give learners the environment file from the lesson page and the line to install, `conda env i

[2019-11-06 00:22] #5 closed

[2019-12-20 01:04] rbavery commented on #6
Hey @dvanic, thanks for starting this discussion. From feedback and my own teaching experience I find notebooks to be the best python teaching tool. I typically spend about 30 minutes getting people familiar with the interface and dealing with setup issues at the start of workshops. I've taught workshops using python scripts with nano/Sublime text/your favorite text editor but I received feedback

[2019-12-20 01:30] rbavery opened #8 "To Do List (feel free to sign up for something, add a task, and discuss)"
- [ ] Rewrite episodes 2-14 of geospatial R for python. Episodes located in `_episodes`
    - My workflow for this is to have the editing episode file and the corresponding R geospatial episode side by side, [like this one](https://datacarpentry.org/r-raster-vector-geospatial/02-raster-plot/index.html). You can see an example of how I've "translated" the first episode of the geospatial R lesson in

[2019-12-20 05:08] alex-pakalniskis commented on #8
I'd be happy to help out rewriting some episodes from R to Python.

Calling dibs on https://datacarpentry.org/r-raster-vector-geospatial/10-vector-csv-to-shapefile-in-r/index.html to start off.

This is my first contribution to an open source project so I would appreciate a bit of guidance :smile:. Once I finish pushing all edits to my forked copy, do I submit a pull request to merge the changes?

[2019-12-30 18:45] rbavery commented on #8
Thanks @alex-pakalniskis ! Yes, that's right, you can submit your pull request to the gh-pages branch of this repo. This question has also prompted me to update this contributing guidelines page, which now links to this repository and the online lesson page: https://github.com/carpentries-incubator/geospatial-python/blob/gh-pages/CONTRIBUTING.md

The section "Using Github" is a good outline to fol

[2020-01-21 06:59] rbavery commented on #1
Hi all! After some time, I've gotten back around to fleshing out this lesson and intend to be more active in developing it in the coming weeks. I have a PR up for the second episode and if any of you have the time, I'd super appreciate a review!

https://github.com/carpentries-incubator/geospatial-python/pull/9

[2020-02-11 23:28] rbavery commented on #8
Hi @alex-pakalniskis just wanted to give you a heads up that I have some initial work done on the lesson you called dibs on since I had to teach part of it at JPL. I included in in an existing episode but it could be broken out into it's own episode maybe. See https://carpentries-incubator.github.io/geospatial-python/09-vector-open-shapefile/index.html there is a section called "Reading a Shapefil

[2020-04-15 01:27] emiliom commented on #1
Just learned about your work on a geospatial python curriculum and the carpentries materials being developed. They look terrific! This thread is also pretty informative.

I wanted to mention our [GeoHackweek](https://geohackweek.github.io/) tutorials, focused on Python. You may find something of value there. See the links from the [Schedule page](https://geohackweek.github.io/schedule.html). We've

[2020-04-15 18:57] rbavery commented on #1
@emiliom Thanks for the input, I've referenced the Geohackweek tutorials before, they've been a great help! I think it'd be useful to include more background and examples on when to use xarray+dask for spatial data that doesn't have/need a CRS and when to use rioxarray. All of the lessons so far developed focus on geospatial imagery or vectors with CRSs (largely following the corresponding R Geosp

[2020-04-16 04:03] emiliom commented on #1
Our team for a related Hackweek, OceanHackweek, just had a meeting where we talked about synergies with the Carpentries. We can definitely contribute xarray+dask materials. I've never used rioxarray myself, but looking forward to it.

I'll look over your blog post. Thanks!

[2020-09-03 02:09] bmcandr opened #14 "Missing images in Episode 1"
In episode 1, the text copied below mentions figures that are not present. See the [Intro to Geospatial Concepts](https://datacarpentry.org/organization-geospatial/01-intro-raster-data/index.html) lesson for the missing images.

...

[2020-09-13 01:25] bmcandr opened #15 "Episode 6 - syntax error in first "Challenge""
In the first "Challenge" at the end of episode 6, there is a syntax error in the code snippet:

[code]

On the first line there is a space between `UTM18` and `_valid` which causes the error.

[2020-09-13 01:41] bmcandr opened #16 "Episode 7 - Variable name error"
In Episode 7 under "Classifying Continuous Rasters in Python", a code snippet uses the variable name `canopy_height_classes` which is never created in the episode. It appears that in the snippet below, `canopy_height_classified` was named incorrectly and should be changed to `canopy_height_classes` to fix this issue.

[code]

`canopy_height_classified` is then correctly created *using* `canopy_hei

[2020-09-13 01:46] bmcandr opened #17 "Episode 7 - `os` module never imported and `mkdirs` function does not exist"
In episode 7 under "Reassigning Geospatial Metadata and Exporting a GeoTIFF", the `os` module is not imported before use. In addition, the `mkdirs` function does not exist and should be corrected to `makedirs`. This code snippet in the episode:

[code]

Should be changed to:

[code]

[2020-09-13 02:12] bmcandr opened #18 "Episode 7 - code fixes needed in solution to Challenge"
In the solutions to the Challenge at the end of Episode 7 there are two code snippets that need to be fixed:

1. The following snippet should be updated from:

[code]

    To create the `fig` directory before saving to it and use `os.path.join` to build the save path in an OS agnostic way:

[code]

2. The final code snippet throws a `TypeError: 'Figure' object is not iterable` error and also conta

[2020-09-22 02:41] rbavery commented on #14
These images do show up in my browser here: https://datacarpentry.org/organization-geospatial/01-intro-raster-data/index.html

Do you not see these images at that link? What's the url you are looking at @bmcandr ?

![Selection_114](https://user-images.githubusercontent.com/22258697/93839623-6160db00-fc42-11ea-980e-4a2e622581bb.png)
![Selection_113](https://user-images.githubusercontent.com/2225869

[2020-09-22 02:42] rbavery commented on #15
thanks, will be fixed in the next pr

[2020-09-22 02:44] rbavery commented on #16
thanks! will be fixed.

[2020-09-22 02:54] bmcandr commented on #14
Apologies for the confusing phrasing. The images do indeed show up in the Intro to Geospatial Concepts lesson, but they do not show up in Episode 1 of *this lesson*. The images you screenshotted are missing here: https://carpentries-incubator.github.io/geospatial-python/01-intro-raster-data/index.html#about-raster-data

[2020-09-22 02:54] rbavery commented on #14
Woops, was just coming back here when I realized that! Thanks for the find, will fix.

[2020-09-23 05:20] rbavery opened #19 "Is episode 6 necessary?"
It covers all the gotchas to pay attention to when reprojecting one dataset to another for the purposes of doing calculations between the two. The main gotcha is that they may have different extents, and clipping/masking is often needed as another step. But episode 7's `reproject_match` function will handle reprojection and masking/clipping (masking if the dataset used for the projection informati

[2020-09-23 21:18] rbavery commented on #18
closed by https://github.com/carpentries-incubator/geospatial-python/commit/a76b445fbd0f7ff808c7b2559cb6dfff8e3bf938

[2020-09-23 21:18] #18 closed

[2020-09-23 21:18] rbavery commented on #17
closed by https://github.com/carpentries-incubator/geospatial-python/commit/a76b445fbd0f7ff808c7b2559cb6dfff8e3bf938

[2020-09-23 21:18] #17 closed

[2020-09-23 21:19] rbavery commented on #16
closed by https://github.com/carpentries-incubator/geospatial-python/commit/a76b445fbd0f7ff808c7b2559cb6dfff8e3bf938

[2020-09-23 21:19] #16 closed

[2020-09-23 21:19] rbavery commented on #15
closed by https://github.com/carpentries-incubator/geospatial-python/commit/a76b445fbd0f7ff808c7b2559cb6dfff8e3bf938

[2020-09-23 21:19] #15 closed

[2020-09-23 21:19] rbavery commented on #14
closed by https://github.com/carpentries-incubator/geospatial-python/commit/a76b445fbd0f7ff808c7b2559cb6dfff8e3bf938

[2020-09-23 21:19] #14 closed

[2020-09-24 21:12] rbavery opened #20 "Improve discussion of what class bins and numpy.digitize do in episode 7"
folks were confused on what values were a bin edge.

[2020-09-24 21:18] rbavery opened #21 "spelling throughout"

[2020-10-23 20:44] rbavery opened #22 "Improve aesthetics of geospatial plots, particularly axis ticks"
![12-phenology-with-points-plot-03](https://user-images.githubusercontent.com/22258697/97052085-3addda80-1535-11eb-81c1-e2d78d7eb610.png)

It'd be great if by default geospatial plots did not truncate axis ticks.

In the meantime, there is an easy one liner to change a setting to display axis ticks without truncation: `plt.ticklabel_format(style="plain")`

I only found out about this later on when

[2020-10-23 20:44] alex-pakalniskis commented on #19
I'm pro-concise. As an attendee, I could see how the redundancy could be more confusing than enlightening. I like your one episode proposal.

[2020-10-29 19:27] rbavery commented on #19
Thanks for the input @alex-pakalniskis . I think I'll squash Episode 6 into a tip to reference the `reproject` function and distinguish it from `reproject_match` and that `reproject` is the better choice if you don't want the extent of the output to be masked.

[2020-11-22 20:33] amfage commented on #21
Is this still needed? I'd be happy to check through the lessons. I'm looking for something to contribute to as part of my Software Carpentry instructor checkout.

[2020-11-22 20:43] rbavery commented on #21
Yes definitely! I'll merge any spelling fixes or other language improvements @amfage Thanks for commenting. Let me know if you have PR questions.

[2020-12-08 12:04] MashaRudneva commented on #21
Hi, do you still have unchecked parts? I would be happy to help here :)

[2020-12-08 19:11] rbavery commented on #21
Hi @MashaRudneva thanks for offering! Yes, episodes without a "FIXME" label could use a look through and there are certainly spelling errors or other language improvements that could be made. You can find the list of episodes here and in the _episodes folder: https://carpentries-incubator.github.io/geospatial-python/

[2021-03-02 20:53] arthur-e opened #37 "DataArray.plot() does not launch a plot window"
In [Lesson 5](https://carpentries-incubator.github.io/geospatial-python/05-raster-structure/index.html), learners are asked to plot the `surface_HARV` DataArray with:

[code]

When I type this, I just see the return signature/ `repr` of `surface_HARV`:

[code]

I don't use `rioxarray` but I do use `matplotlib`, so I know that I can import it and force the plot window to show:

[code]

So, I think

[2021-03-02 20:59] arthur-e commented on #37
I'm now realizing the lesson is intended to be run in JupyterLab. I was running these examples in iPython, so I suppose this is a non-issue!

[2021-03-02 20:59] #37 closed

[2021-03-05 15:43] darcygray opened #38 "Setup Instructions Clarification"
In the setup episode for this lesson (https://carpentries-incubator.github.io/geospatial-python/setup.html) Step 2 under "Setting up the workshop environment with conda" generated confusion in our workshop when we asked participants to complete setup before the lesson:

The step reads:
**2. Right-click and “Save Link As…” this link to the virtual environment file. Name it environment.yaml and save

[2021-03-19 19:29] snowman2 opened #40 "CRS: Converting between formats"
https://carpentries-incubator.github.io/geospatial-python/03-crs/index.html

For reference for the rasterio CRS class:
https://rasterio.readthedocs.io/en/latest/api/rasterio.crs.html
[code]

For reference for the pyproj CRS class:
https://pyproj4.github.io/pyproj/stable/examples.html#converting-crs-to-a-different-format

For reference for what to use to store CRS information:
https://proj.org/faq.

[2021-03-19 19:46] snowman2 commented on #40
https://carpentries-incubator.github.io/geospatial-python/aio/index.html
https://carpentries-incubator.github.io/geospatial-python/05-raster-structure/

The section about `earthypy.epsg` could be updated.

[2021-03-19 20:31] rbavery commented on #40
Awesome thanks @snowman2 I'll make this update.

[2021-03-19 20:34] rbavery commented on #38
Thanks for the feedback, I recall changing the link so that it is downloaded when they click it because I thought having to copy it and paste it into a file would add more overhead. was it confusing to have the file download on click? I think a screenshot or GIF is a good idea too.

[2021-03-19 20:44] rbavery commented on #21
This was pretty much handled by @seanemccartney . There might be some remaining sp errors but probably not too many so closing.

[2021-03-19 20:44] #21 closed

[2021-03-20 18:07] rbavery commented on #40
@snowman2 I tried to use `rgb_stack_HARV.rio.crs.to_proj4()` to print a proj4 string but got this

[code]

Which conflicts with later lesson description that breaks down the crs attributes in a full proj4 string:

I like the proj representation because it shows all the most important crs info in one line, whereas WKT output is a bit too busy for the novice to parse in order to understand their CRS

[2021-03-21 00:44] snowman2 commented on #40
The issue you are running into is this: https://github.com/mapbox/rasterio/issues/2073.

I would recommend using `pyproj.CRS` to teach about coordinate reference systems as it provides a nice summary of the CRS in the representation and allows you to navigate through the elements,

Here is how you can convert to a pyproj CRS: https://pyproj4.github.io/pyproj/stable/crs_compatibility.html#convertin

[2021-03-23 15:33] kegrove opened #41 "Raster and Vector File types -- Geospatial Landscape"
Add a table to explain common file types used in the Geospatial Landscape episode. This would give learners an easily digestible way to understand the various files they are downloading for the lessons. An example could be:

Extension | File Type | Description
-- | -- | --
Esri ShapeFile | .SHP.DBF.SHX | The most common geospatial file type. This has become the industry standard The three required

[2021-03-30 00:27] raybellwaves opened #43 "use da.quantile in notebook 05"
Optional.

Currently there is

[code]

This could be replaced with
[code]

[2021-04-08 21:36] rbavery commented on #41
@kegrove This is excellent!! Do you want to try making a Pull Request to include this table in the episode? I think these tables are excellent as is and can be added to later. Happy to help with the PR by reviewing or if you have questions about making it, or I can make it later this week.

[2021-04-08 21:38] rbavery commented on #40
@snowman2 thanks so much for this tip! I think switching to using pyproj makes a lot of sense, I like how they format the CRS summary and it removes a dependency on earthpy. I'll address this later this week.

[2021-04-08 21:41] rbavery commented on #43
Cool, thanks for the heads up. I might include a tip insert to reference that numpy's version of `quantile` is named `percentile` but I think it makes sense to use the xarray methods for the lesson code where possible.

[2021-04-15 16:36] #3 closed

[2021-04-15 21:57] vinisalazar opened #47 "Improving Episode 5"
Hi, I have a couple of concerns for Episode 5:

* The first is in the `surface_HARV = rioxarray.open_rasterio("data/NEON-DS-Airborne-Remote-Sensing/HARV/DSM/HARV_dsmCrop.tif")` line. In the setup page, instructions state that the downloaded data should be moved inside the `geospatial-python` directory and then unzipped. This may cause FileNotFoundErrors, that are easy to solve, but could be avoide

[2021-04-15 22:48] vinisalazar commented on #22
@rbavery, I'm testing this locally and the `plt.ticklabel_format(style="plain")` line must be called for each plot, i.e. it does not work if I run it on the first cell of a notebook and then create the plot on a different cell. Is this the same for you?

I'm trying to think if there's a way to set this using Matplotlib's `rcParams`.

[2021-04-16 05:45] rbavery commented on #47
Definitely helpful, thanks @vinisalazar !

On the first point, when I unzip the folder on my Mac, the result is a data folder that contains the sub directories for each dataset. Is this not the case on your end? I can test this out on windows tomorrow, I thought that when the .zip is extracted, the result is always a folder called "data" that contains the subdirectories, so a data folder wouldn't

[2021-04-16 16:46] vinisalazar commented on #47
Hi @rbavery,

I tried it again and that is indeed the case. Sorry for that.

That is a fair point that people should be familiar with Matplotlib. Thinking about it now, expanding the "Plotting Tip" block in Episode 05 could be a way of having the Matplotlib introduction. And then on Episode 7, learners will already be more familiar.

[2021-04-16 17:01] vinisalazar commented on #47
I will submit a PR with a tentative approach.

[2021-04-16 17:07] rbavery commented on #47
Great, that sounds good to me. If you don't get to it, I'll work on the episode 6 refactor to focus on reproject_match and dealing with no data values with masking. Thanks a bunch for your comments and help, much appreciated!

[2021-04-16 17:13] rbavery commented on #40
@snowman2 addressed by https://github.com/carpentries-incubator/geospatial-python/pull/44 feel free to reopen if you see anything you think could be explained better.

[2021-04-16 17:13] #40 closed

[2021-04-16 18:17] snowman2 commented on #40
Looks great :+1:, nice work.

Here are some suggestions:

1. Use `to_epsg()`:
[code]
2. Not all CRS have EPSG codes, `to_wkt()` is a good backup for converting to `pyproj.CRS`:
[code]

[2021-04-19 06:23] rbavery commented on #40
ah yikes thanks for the heads up @snowman2 .  I can mention `from_wkt()`/`to_wkt()` as a backup

[2021-04-21 00:30] rbavery commented on #22
I'll check this out later while working on some new episodes, thanks @vinisalazar

[2021-04-21 00:30] rbavery commented on #19
Addressed by https://github.com/carpentries-incubator/geospatial-python/pull/51 following https://github.com/carpentries-incubator/geospatial-python/issues/47

[2021-04-21 00:30] #19 closed

[2021-04-21 00:34] rbavery commented on #38
We include the contents of the yaml in the lesson page, provide a preferred method of installation with a single copy/paste and also still provide the "save link as" option. Foregoing the screenshot of saving the link given that is not the easiest method for newcomers and would be OS specific which might confuse. Feel free to reraise this issue if you have feedback on the current instructions @dar

[2021-04-21 00:34] #38 closed

[2021-04-21 00:35] rbavery commented on #6
We currently reference a Starting Jupyterlab section in https://carpentries-incubator.github.io/geospatial-python/setup.html

[2021-04-21 00:35] #6 closed

[2021-04-21 00:36] #47 closed

[2021-04-21 00:36] rbavery commented on #47
it's addressed see https://github.com/carpentries-incubator/geospatial-python/issues/19

[2021-04-30 18:52] rbavery opened #54 "rearrange episode flow"

[2021-05-28 18:05] #43 closed

[2021-05-28 18:05] rbavery commented on #54
addressed by https://github.com/carpentries-incubator/geospatial-python/pull/53

[2021-05-28 18:06] rbavery commented on #41
closing since this is now merged into the lesson. Thanks for your contribution @kegrove !

[2021-05-28 18:06] #41 closed

[2021-05-28 19:20] #54 closed

[2021-06-01 13:51] seanemccartney opened #66 "xarray-spatial not included in libraries with virtual environment."
When going through the new episode "Calculating Zonal Statistics on Rasters" the first line of code throws an error.
xarray-spatial needs to be included in the libraries when creating the virtual environment: "geospatial".

<img width="842" alt="Screen Shot 2021-06-01 at 9 47 32 AM" src="https://user-images.githubusercontent.com/14008923/120334541-b5868980-c2be-11eb-9c3d-2bd3e66d1166.png">

[2021-06-11 01:05] rbavery commented on #66
Thanks for catching that @seanemccartney, fixed! I added that package to the yaml in the files folder.

[2021-06-15 17:53] seanemccartney opened #69 "Ep. 12 - Calculating Zonal Statistics on Rasters - NameError"
Error message thrown when running code.

NameError: name 'road_canopy_zones_arr' is not defined

<img width="682" alt="Screen Shot 2021-06-15 at 1 51 09 PM" src="https://user-images.githubusercontent.com/14008923/122100198-e8fa0580-cde0-11eb-9982-41d061fca50f.png">

[2021-06-15 18:17] seanemccartney opened #71 "Ep 12 - Calculating Zonal Statistics on Rasters"
Error message thrown when running last chunk of code in episode.

<img width="860" alt="Screen Shot 2021-06-15 at 2 08 06 PM" src="https://user-images.githubusercontent.com/14008923/122102255-3d9e8000-cde3-11eb-9636-532ad84de54c.png">

[2021-06-15 18:19] seanemccartney opened #72 "Ep 12 - Calculating Zonal Statistics on Rasters"
1. Overview - Questions & Objective missing at the beginning
2. Key Points - missing at the end

[2021-06-16 02:00] rbavery commented on #69
solved by your PR, thanks!

[2021-06-16 02:00] #69 closed

[2021-06-16 02:02] rbavery commented on #71
Got it, I'll look into this before the session tomorrow and update the lesson.

[2021-06-16 21:07] rbavery opened #75 "Remove extra data files in SJER/ and fix SJER example to use reproject_match"

[2021-06-17 21:02] rbavery opened #76 "raster calculations challenge with sjer has typo needs review"

[2021-07-02 22:44] evanheberlein opened #77 "Ep 12 - Calculating Zonal Statistics on Rasters"
There's a bug in the import chunk - the second imported file is actually `HARV_dtmCrop_WGS84.tif` in the data folder, not `HARV_dtmCrop_UTM18.tif `as the tutorial says.

[2021-10-14 18:15] rbavery opened #79 "Feedback from the Summer 2021 DEVELOP workshop"
lesson review with @kwross @jdilger

### Episode 5

* @kwross went through ~60% of Episode 5 in 50 minutes for an audience that was mostly new to Python prior to the previous days where the novice lesson was taught
* 10 minutes lost in beginning from setup issues
* we didn't teach Unix to leave more time for Git, Python, geo python
    - a large fraction of people foudn it easier to use windows an

[2021-11-02 14:49] adamancer commented on #22
@rbavery How about using the axes.formatter.limits rcParam? Setting the upper bound to 7 forces the truncated UTM coordinates to print as plain numbers.

[code]

[2021-11-02 14:58] rbavery commented on #22
Thanks for the tip @adamancer looks helpful! I think that'll work

[2021-11-15 23:30] rbavery commented on #20
resolved by https://github.com/carpentries-incubator/geospatial-python/pull/80 thanks @adamancer !

[2021-11-15 23:30] #20 closed

[2022-01-07 19:32] rbavery opened #81 "Crop a Raster Episode"
We should cover this fundamental operation, probably following this episode's example: https://datacarpentry.org/r-raster-vector-geospatial/11-vector-raster-integration/index.html

[2022-01-07 19:39] rbavery opened #82 "Stackstac episode"
It'd be cool to show folks how to access cloud-hosted geospatial imagery as a dask-backed xarray with stackstac: https://github.com/gjoseph92/stackstac

This would probably necessitate explanation of Dask, chunks, and relevant methods and how to take advantage of chunking. We'd also need to make these caveats very clear:
* stackstac discards geospatial info like the crs.
*  it's difficult to assoc

[2022-01-07 19:48] rbavery opened #83 "visualize optical time series from sentinel-2 lesson"
this could follow the example of https://datacarpentry.org/r-raster-vector-geospatial/12-time-series-raster/index.html  but instead use a Sentinel-2 optical time series from a previous stackstac episode. This could involve the following learning objectives:

* assembling band arrays into a single multiband array with xarray
* compute multispectral indices, either by hand or using xarray-spatial as

[2022-01-07 19:49] rbavery opened #84 "Make sure all plots in code blocks are embedded in lesson"
later episodes are missing some of these

[2022-01-24 17:43] rbavery opened #85 "Possibly use a different, more eye catching example for single band imagery and vectors"
Feel free to comment with ideas!

oil slicks in radar imagery: https://figshare.com/articles/dataset/S1A_IW_GRDH_1SDV_20211013T064329_20211013T064354_040097_04BF7D_66FF_tiff/16916038

[2022-01-25 03:34] rbavery commented on #77
it's actually the correct file name, but this file is created in episode 6

[code]

however I forgot to include this file in the data download link, so it means this episode is not self contained. I'll add the file to the data download so this episode can be run independently.

CC @rogerkuou

[2022-01-25 04:08] rbavery commented on #77
just updated the dataset

[2022-01-25 04:08] #77 closed

[2022-01-25 09:24] rogerkuou commented on #77
@rbavery Thanks a lot for clearing this up!

[2022-01-25 17:22] rogerkuou commented on #85
Hi @rbavery I quite like the idea of S1 GRD data and the oil leak case. Here are some thoughts:

1. I think it creates a very good storyline. We can design the lesson story around pollute evaluation.
2. It's single band
3. S1 is open data, perhaps we can even try to acquire it from an open-source with STAC? If we also consider teaching down sampling data.
4. For raster/vector interaction, we can d

[2022-01-25 17:59] rbavery commented on #83
other idea: netherlands crop boundaries, plotting change in spectral indices for a field over time

[2022-01-25 18:20] rogerkuou commented on #85
Hi @rbavery, about the Dutch crop fields boundary data we talked about, I found the original source. It's publicly available through the Dutch government geo-info open data portal. Here is the [download page](https://service.pdok.nl/rvo/brpgewaspercelen/atom/v1_0/basisregistratie_gewaspercelen_brp.xml). You may need Google Translate's help to understand Dutch -_^.

There I downloaded the `brpgewas

[2022-01-26 22:23] rbavery commented on #83
this comment applies to this issue: https://github.com/carpentries-incubator/geospatial-python/issues/85#issuecomment-1021478181

@rogerkuou

[2022-01-28 04:56] rbavery commented on #83
@rogerkuou @fnattino I've selected an initial area for this episode, the goal is to compute focal stats with xarray-spatial on a time series of sentinel-2 derived ndvi and see which farms have the highest average greeeness over the growing season (or something like that).

What do you two think of this initial area? I selected a spot that bordered the north of Amsterdam since globally that might b

[2022-01-28 05:20] rogerkuou commented on #83
Thanks Ryan! Looks good! I am working on a Notebook for #88 and selected almost the same area like this. I will finish the notebook and push today, we can always align in the end to make the AoI the same.

[2022-01-28 17:46] fnattino opened #92 "Give more details on `clip_box` in the data access episode"
The function does not load the full image, but only the window.

[2022-02-03 19:50] rbavery opened #93 "reorder and update data access lesson to be the starting code episode at #5"
this is an open discussion following up on the discussion in this PR: https://github.com/carpentries-incubator/geospatial-python/pull/91 My loose idea is to

1. move the data access episode to be the first code epsiode
2. add code blocks at the end to download any additional raster datasets that should be saved out locally to carry out the crop, reproject, and raster calculation episodes.
3. not s

[2022-02-06 23:28] bmcandr opened #94 "[Episode 6] Replace use of Well-Known Text CRS output with `pyproj` CRS summary"
Episode 6 prints the CRS summary for the two datasets with `surface_HARV.rio.crs.wkt`. In Episode 5 we introduce `pyrpoj`'s `CRS()` method for printing a CRS summary for a dataset. Also, the output from this approach is easier to parse.

Unless we want to use the `wkt` approach to show another method for accessing CRS info, I recommend updating Episode 6 to use the `pyrpoj` approach.

I'm happy to

[2022-02-08 17:42] rbavery commented on #94
@bmcandr good catch, I can review that when it is ready!

[2022-02-08 18:47] rbavery commented on #93
Hi @rogerkuou I'm continuing the discussion in this PR here https://github.com/carpentries-incubator/geospatial-python/pull/91#issuecomment-1032931963

I think these are all good points. Maybe we can answer the question of whether STAC is too advanced to be an opening lesson when we teach it to NASA DEVELOP (and also your group of learners at the eSciences Center?). If it goes fine and we see in t

[2022-02-09 19:18] bmcandr opened #95 "[Setup] Add instruction to `mkdir data`"
An earlier version of the setup used a zip file that had the lesson files in a directory called `data`, but the current zip file contains just the lesson files. The setup instructions that follow the `unzip` step assume the unzip step results in a directory called `data` and later episodes also assume the files are in this directory.

Need to update the setup to create the `data/` directory and th

[2022-02-09 22:19] kdottiemo opened #96 "Add Path Addition Recommendation?"
In Setup:
https://carpentries-incubator.github.io/geospatial-python/setup.html

Several times, in assisting with this and similar lessons using Anaconda, I have found that it's best to recommend that the learner check off the option "Add Anaconda to my PATH environment variable" in addition to leaving checked the "Register Anaconda as my default Python 3.x" option. It solves a lot of eventual Git

[2022-02-18 08:42] #95 closed

[2022-02-18 08:44] #94 closed

[2022-03-14 17:20] rbavery opened #103 "replace zip file vectors and rasters with gpkg for vector data and streaming for rasters, use zip as backup"

[2022-03-16 21:02] rbavery opened #104 "Update the Thanks Contributors README"
There's been lots of great contributions from folks not currently listed.

[2022-04-04 04:13] rbavery commented on #82
@fnattino great to see these merged! Either @srmsoumya or I will work on #102 during the first week of May when we have some blocked off time to work on open source , possibly sooner.

[2022-04-04 04:14] rbavery commented on #96
Definitely. I think some carpentries lessons already recommend this and we should do so here, particularly for Windows OSes

[2022-04-20 17:32] rbavery opened #105 "consider teaching odc-stac for wide problems"
I recently learned about odc-stac, which like stackstac provides methods for loading STAC items as xarray objects. the differences between the two are discussed here:

https://github.com/opendatacube/odc-stac/issues/54

my takeaway from the discussion above is that odc-stac is better for wide problems, like creating mosaics. learners will need to create mosaics for many of the problems they encoun

[2022-06-15 17:26] gjoseph92 commented on #105
FYI I'm planning to add equivalent `groupby` functionality to stackstac eventually https://github.com/gjoseph92/stackstac/issues/66#issuecomment-1152659430. Currently though, I'd definitely recommend odc-stac instead for mosaics.

[2022-06-24 17:23] klange77 opened #109 "Raster Calculations in Python additional line needed in example"
Hello there! I have discovered in issue in the Raster Calculations in Python lesson under the "Classifying Continuous Rasters in Python" Section. In the first example where the lesson directs to create the Classified Canopy Height Model- NEON Harvard Forest Field Site graph, the code block under #Defines the bins for pixel values calls for np.inf. However, the lesson does not have the learner impo

[2022-09-26 14:18] LMCG8 opened #111 "Suggestion for edit to step 2 in setting up the workshop environment with conda"
Hi there! I suggest that in the set up, under 'Setting up the workshop environment with conda', step 2's bash command be modified to one line without the backslash breaks. As it is, it can't be pasted and function correctly for PC users.

original:
`conda create -n geospatial -c conda-forge -y` \
   `jupyterlab numpy matplotlib` \
  `xarray rasterio geopandas rioxarray earthpy descartes xarray-spa

[2022-10-12 05:27] rbavery commented on #111
Sounds good. can you make a Pr for this @LMCG8 ?

[2022-10-12 05:28] rbavery commented on #109
woops! good find. the episodes were overhauled so that code block is now gone.

[2022-10-12 05:28] #109 closed

[2022-10-12 05:29] rbavery commented on #96
This is done with #106

[2022-10-12 05:29] #96 closed

[2022-10-12 05:30] rbavery commented on #93
closing, lesson v2 is now out

[2022-10-12 05:30] #93 closed

[2022-10-12 05:31] rbavery commented on #103
this is done in that we download the vectors from figshare ahead of time as .zips and a .gpkg

[2022-10-12 05:31] #103 closed

[2022-10-12 05:32] rbavery commented on #85
this is done

[2022-10-12 05:32] #85 closed

[2022-10-12 05:32] #84 closed

[2022-10-12 05:35] rbavery commented on #79
much of these have been addressed except for a netcdf example. will make a new issue

[2022-10-12 05:35] #79 closed

[2022-10-12 05:36] #81 closed

[2022-10-12 05:36] #76 closed

[2022-10-12 05:37] #72 closed

[2022-10-12 05:37] #71 closed

[2022-10-12 05:37] #8 closed

[2022-10-12 05:39] #75 closed

[2022-10-14 21:59] d-diaz opened #115 "Markdown tables in Episode 4 missing dividers between header and table body"
The markdown tables depicting the common file types for raster and vector data at the bottom of [episode 4]( https://github.com/carpentries-incubator/geospatial-python/blob/gh-pages/_episodes/04-geo-landscape.md) need a divider between table header row and table body to display correctly.

Also noticed ESRI Shapefile is mis-capitalized as ShapeFile. [Specification ](https://www.esri.com/Library/Wh

[2022-10-17 01:14] #115 closed

[2022-10-17 23:42] rbavery commented on #111
This actually works for me on a PC. I'm pasting into my WSL terminal and it pastes correctly. I also tried with GitBash, see below. I realize it may look different for you on GitBash, what issue occurs? This might have been fixed with the recent lesson update in #110

![conda](https://user-images.githubusercontent.com/22258697/196303472-9a3b7ad6-5b1c-4c6d-8958-2594b46ae019.PNG)

[2022-10-20 23:03] #111 closed

[2022-10-20 23:04] rbavery commented on #83
closing in favor of the stackstac issue #82 , these episodes could probably one and the same

[2022-10-20 23:04] #83 closed

[2022-10-20 23:09] rbavery commented on #82
update: not much movement on this episode to date. but I think I can shoot to have this done after Maptime Davis. Realistically, sometime in November. Some things to cover:

* selecting multiple single band assets with the assets arg in stackstac.stack to get a multiband DataArray
* compute multispectral indices using xarray-spatial https://github.com/makepath/xarray-spatial
* plot change over tim

[2022-10-21 19:54] rbavery opened #117 "40.78, -73.97 needs to be flipped, note cloud cover filtering limitation for NASA CMR"

[2022-10-25 20:05] #117 closed

[2022-10-25 20:06] rbavery opened #119 "replace NASA CMR example with catalog that supports cloud filtering"
https://github.com/nasa/cmr-stac/issues/239

possible planetary computer?

[2022-10-25 20:08] rbavery opened #120 "replace EarthSearch with more stable STAC API"
possible planetary computer?

I've run into issues where v0 of the api (what we use in the lesson) consistently returns internal server errors when initiating a client, or errors that only come up when you initiate a search.

The v1 endpoint doesn't have all the Sentinel scenes, there's only 8500, very few scenes over the USA, nothing over Amsterdam to match the vector data.

[2022-10-25 23:27] rbavery opened #121 "possibly too much flip flopping between projection/metadata inspection and plotting in episode 6"
could this lesson be arranged better to show plotting up front, how to deal with masking and nodata? then go into projections?

[2022-10-25 23:52] kristi-sara opened #122 "Ep 5 ~ 6: search.json from exercise to main lesson"
I was confused where the search.json came from at the beginning of lesson 6 until I found it in one of the exercises from lesson 5. While I don't think its necessarily bad to do this, it is confusing when the next part of the learning experience is based on an activity not everyone will do unless the instructor does so (or forces everyone to do). It would be better to incorporate this function in

[2022-10-25 23:59] kristi-sara opened #123 "Setup boogaloo"
Just a recommendation but its worked for us when we've done geospatial R.

I thought python would be easier but pip and conda are just as cumbersome as dealing with CRAN even with environments.
To mitigate possible install problems, we added a test code to the setup to make sure learners were actually prepared for the workshop. https://ucsbcarpentry.github.io/2022-08-09-ucsb-r-geospatial/ We creat

[2022-10-28 22:35] rbavery commented on #122
I agree, this sounds like a good change.

[2022-10-28 22:36] rbavery commented on #123
Gotcha, I think this is particularly useful when running remote workshops and this would be a great addition to the lesson.

[2022-11-01 17:08] rbavery commented on #120
A quick update on this, it sounds like EarthSearch was experiencing issues with web crawlers specifically the day of the demo. it didn't end up being an issue for me during the demo but might have been for others.

Still, I think we at the least may want to switch to the v1 api endpoint and possibly an api that has auth to remove risk of web crawlers impacting a workshop (I'm not sure how common t

[2022-11-01 17:21] matthewhanson commented on #120
@rbavery
The v1 endpoint is not yet final, there are load tests to do and a final ingest. It will contain the whole Sentinel-2 archive, as well as a Landsat L2 collection similar to the Planetary Computer Landsat collection (Landsat 4-9, both surface reflectance and surface temp combined).

There may be additional changes as well with rate limiting to prevent outages from users trying to rapidly c

[2022-11-01 20:15] rbavery commented on #120
Ok awesome, thanks for these details @matthewhanson. Excited to test the v1 endpoint once it is completed